<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>Starter Template for Bootstrap</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>

		<!-- Custom styles for this template -->
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>

	<body class="container" ng-app="app">
		<nav class="navbar navbar-default" ng-controller="NavCtrl">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/#/home">Snapshots <i class="em em-camera"></i></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li ng-show="isLoggedIn()"><a href="#/favorites">Favorites</a></li>
						<li ng-show="isLoggedIn()"><a href="#/popular">Popular</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
						<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
						<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
						<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>
		
		<!--	home template	-->
		<script type="text/ng-template" id="/home.html">
			<h1 class="page-header">Home</h1>
			<div ng-repeat="photo in photos | orderBy: '-likes' ">
				<span class="glyphicon glyphicon-thumbs-up" ng-click="likePhoto(photo)"></span>
				<a ng-show="photo.link" href="#/photos/{{photo._id}}">
					{{photo.title}}
				</a>
				<span ng-hide="photo.link">
					{{photo.title}}
				</span> 
				- likes: {{photo.likes}} - by: {{photo.author}}
			</div>
			<form ng-submit="addPhoto()">
				<h3>Add a new photo</h3>
				<div class="form-group">
					<input class="form-control" type="text" ng-model="title"></input>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" ng-model="link"></input>
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>
		</script>
		<!--	photos template	-->
		<script type="text/ng-template" id="/photos.html">
			<div class="page-header">
				<h3>
					<a ng-show="photo.link" href="{{photo.link}}">
						{{photo.title}}
					</a>
					<span ng-hide="photo.link">
						{{photo.title}}
					</span> 
					- likes: {{photo.likes}} - by: {{photo.author}}
				</h3>
			</div>
		</script>
		<!--	popular template	-->
		<script type="text/ng-template" id="/popular.html">
			<h1 class="page-header">Popular</h1>
			<div ng-repeat="photo in photos | orderBy: '-likes' | limitTo: 5 ">
				<span class="glyphicon glyphicon-thumbs-up" ng-click="likePhoto(photo)"></span>
				<a ng-show="photo.link" href="#/photos/{{photo._id}}">
					{{photo.title}}
				</a>
				<span ng-hide="photo.link">
					{{photo.title}}
				</span> 
				- likes: {{photo.likes}} - by: {{photo.author}}
			</div>
		</script>
		<!--	favorites template	-->
		<script type="text/ng-template" id="/favorites.html">
			<h1 class="page-header">Favorites</h1>
			<div ng-repeat="photo in photos | orderBy: '-likes' ">
				<a ng-show="photo.link" href="#/photos/{{photo._id}}">
					{{photo.title}}
				</a>
				<span ng-hide="photo.link">
					{{photo.title}}
				</span> 
				- likes: {{photo.likes}} - by: {{photo.author}}
			</div>
		</script>
		<script type="text/ng-template" id="/register.html">
			<div class="page-header">
				<h1>Photos!!!</h1>
			</div>

			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="register()" style="margin-top:30px;">
				<h3>Register</h3>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
				</div>
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</script>
		<script type="text/ng-template" id="/login.html">
			<div class="page-header">
				<h1>Photos!!!</h1>
			</div>

			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="logIn()" style="margin-top:30px;">
				<h3>Log In</h3>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
			</form>
		</script>
	</body>
</html>